name: Node.js CI/CD and Security Scan

on:
  push:
    branches: [ "master", "develop" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        run: |
          BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})
          docker build -t dioxyme/node-app:${BRANCH_NAME} .
          docker push dioxyme/node-app:${BRANCH_NAME}
          
          if [ "$BRANCH_NAME" = "master" ]; then
            docker tag dioxyme/node-app:master dioxyme/node-app:latest
            docker push dioxyme/node-app:latest
          fi

  trivy-scan:
    runs-on: ubuntu-24.04
    needs: build-and-push
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'dioxyme/node-app:${{ github.ref_name }}'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
          exit-code: '1'
          ignore-unfixed: true

      - name: Upload Trivy scan results to GitHub Security
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'
